<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contas Pagar</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>


<div class="card" style="padding: 20px">
	<div class="card-header">
			<strong>Minhas contas a Pagar</strong>
	</div>
	
	<form class="form-horizontal" method="GET" th:action="@{/contas/listar}" style="margin: 10px">
			<div class="input-group">
			
					<input type="text" class="form-control input-sm" id="search" name="search" th:value="${search}" placeholder="Filtrar por descrição ou valor">
					
					<div class="input-group-append">
					
						<button type="submit" class="btn btn-sm btn-danger">Buscar</button>
					</div>
			</div>
	</form>		
	
	<div class="card-body">
		<div class="table-responsive">
				<table class="table table-sm table-striped table-hove table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Descrição</th>
							<th>Total</th>
							<th>Categoria</th>
							<th>Data</th>
							<th>Ações</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="conta : ${listContas}">
							<td th:text="${conta.id}">ID</td>
							<td th:text="${conta.descricao}">Descrição</td>
							<td th:text="${conta.valor}"></td>
							<td th:text="${conta.categoria.nome}"></td>
							<td th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}">Data</td>
							<td>
								
									<a class="btn btn-sm btn-info" th:href="@{editar/{id} (id=${conta.id})}">Editar</a>
									<a class="btn btn-sm btn-danger" th:href="@{delete/{id} (id=${conta.id})}" th:data-confirm-delete="|Deseja realmente excluir ${conta.descricao}|" onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
								
							</td>
						</tr>
					</tbody>
				</table>
		</div>	
	</div>
	
	<div class="card-footer">
		<a class="btn btn-sm btn-danger" th:href="@{adicionar}">Adicionar Conta</a>
	</div>

</div>

	
</body>
</html>